* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.text {
  margin-top: 150px;
  width: 70%;
  padding: 3rem;
}
