.app {
  margin-top: 100px;
  margin-right: 30px;
}

.weather {
  margin-top:120px;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 0.5rem;
}

.poblacion {
  font-size: 30px;
}

.icono {
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.icon:hover {
  background-color: #fff;
}

.modal {
  position: fixed;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
}

.modal__container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 2rem;
  background-color: #fff;
  margin: auto;
}

.etiqueta {
  font-size: 20px;
}

.modal__input {
  text-decoration: none;
  font-size: 18px;
  padding: 0.6rem;
  margin-top: 10px;
  border-radius: 6px;
  width: 100%;
}

.modal__close {
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 8px;
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  width: 90%;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.modal__close:hover {
  color: #2196f3;
  border: 2px solid #2196f3;
  background-color: #fff;
}
