.container-search {
  margin-top:80px;
  height: auto;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 0.5rem;
}

#inputFile{
  width: 100%;
  
}

#introduccion {
  width: 100%;
  font-size: 18px;
 
}