.container-form {
  margin: 100px 50px 50px 50px;
}

.container-tasks {
  margin: 0 50px;
}

.task {

  padding: .6rem 1rem;
  border-radius: 6px;
  background:#0D6EFD;
  color: #fff;
  box-shadow: 15px 15px 30px #5a5a5a, -15px -15px 30px #ffffff;
  margin-top: 35px;
  opacity: 1;
  transition: opacity 0.4s;
}

.task--done {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.icon-trash {
  border: none;
  background:#0D6EFD;
}

